body{
    font-family: sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    background-color: lightblue;
}

.gameContainer{
    display: block;
    background-color: whitesmoke;
    height: 42rem;
    width: 35rem;
    border-radius: 10%;
    box-shadow: 10px 10px 38px 0px rgba(0, 0, 0, 0.75);
}

.gameBoard{
    display: grid;
    padding: 2rem;
    grid-template-columns: repeat(6, .5fr);
    grid-template-rows: repeat(6, .5fr);
}

.square{
    height: 5rem;
    width: 5rem;
    border-radius: 1rem;
}